<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<img th:src="@{/images/FriendsLogo.png}" class="img-responsive center-block"
			 alt="Logo" />
		<div id="loginForm">
		<form th:action="@{/login}" method="POST" class="form-signin">
			<input type="text" id="userAccount" name="userAccount"  th:placeholder="账号"
				class="form-control"/> <br/>
			<input type="password"  th:placeholder="密码"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">账号或密码错误，请检查后重试！</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="登录"></button>
		</form>
		<!--<form th:action="@{/registration}" method="get">-->
			<!--<button class="btn btn-md btn-warning btn-block" type="Submit">Registration</button>-->
		<!--</form>-->
		</div>
	</div>
</body>
</html>